body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 400;
}

a {
    font-size: 16px;
    color: aquamarine;
}

.media {
    display: block; 
    margin: 20px auto;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h4 {
    color: gray;
    font-size: 21px;
    font-weight: 400;
}

footer {
    color: gray;
    text-align: right;
    font-family: 21px;
}